{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
    <h3>Editar equipo</h3>
    <form method="POST">
        <div class="row g-3">
            <div class="col-md-6"><input type="text" name="nombre_equipo" value="{{ equipo.nombre_equipo }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="responsable" value="{{ equipo.responsable }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="sistema_operativo" value="{{ equipo.sistema_operativo }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="office" value="{{ equipo.office }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="area_asignada" value="{{ equipo.area_asignada }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="tipo" value="{{ equipo.tipo }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="marca" value="{{ equipo.marca }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="modelo" value="{{ equipo.modelo }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="numero_serie" value="{{ equipo.numero_serie }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="disco_duro" value="{{ equipo.disco_duro }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="mac_address" value="{{ equipo.mac_address }}" class="form-control"></div>
            <div class="col-md-6"><input type="text" name="ip_address" value="{{ equipo.ip_address }}" class="form-control"></div>
            <div class="col-md-6">
                <select name="estado" class="form-select">
                    <option value="uso" {% if equipo.estado == 'uso' %}selected{% endif %}>En uso</option>
                    <option value="nuevo" {% if equipo.estado == 'nuevo' %}selected{% endif %}>Nuevo</option>
                    <option value="reparacion" {% if equipo.estado == 'reparacion' %}selected{% endif %}>En reparación</option>
                </select>
            </div>
            <div class="col-md-12"><textarea name="comentarios" class="form-control">{{ equipo.comentarios }}</textarea></div>
        </div>
        <div class="mt-3 text-center">
            <button class="btn btn-primary">Actualizar</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
